# Template for C:\Users\{Username} dotfiles repository

# Visual Studio
**/.vs

# Visual Studio Code extensions
.vscode/extensions

# Azure Data Studio
.azuredatastudio

# OmniSharp
./omnisharp

# LibMan
.librarymanager/

# NuGet
.nuget/

# .NET SDK
.dotnet/
.templateengine/

# SQL Server
*.mdf
*.ldf
*.ndf

# configstore
.config/configstore/

binary directories
**/bin/
**/obj/

# default Windows directories and files
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
MicrosoftEdgeBackups/
Music/
Pictures/
Saved Games/
Searches/
Videos/
ntuser.*

# custom directories and files
.gitconfig
projects/
symbols/